---
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <Section
        title="Model 3"
        subtitle="Lease starting at $329/mo*"
        color="black"
        colorFooter="black"
        id="model3"
        button1="Custom Order"
        button2="Learn More"
        pfooter1="*Excludes taxes and fees with price subject to change. Available in select states."
        pfooter2="See Details"
        img="https://digitalassets-secure.tesla.com/image/upload/f_auto,q_auto/xufyfcvqhmq36szytod7.jpg"
      />
    </div>

	<div class="snap-center">
		<Section
		  title="Model Y"
		  subtitle="Lease starting at $329/mo*"
		  color="white"
		  colorFooter="white"
		  id="model3"
		  button1="Custom Order"
		  button2="Demo More"
		  pfooter1="*Excludes taxes and fees with price subject to change. Available in select states."
		  pfooter2="See Details"
		  video="https://digitalassets.tesla.com/tesla-contents/video/upload/Homepage-Model-Y-Desktop-NA-v2.mp4"
		/>
	  </div>

    <div class="snap-center">
      <Section
        title="Model X"
        subtitle="From $68,590*"
        paragraph="After Federal Tax Credit & Est. Gas Savings"
        color="black"
        colorFooter="white"
        id="modelX"
        button1="Custom Order"
        button2="Demo Drive"
        pfooter1="*Price before incentives and savings is $79,990, excluding taxes and fees. Subject to change."
        pfooter2="Learn about est. gas savings"
        img="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD"
      />
    </div>

	<div class="snap-center">
		<Section
		  title="Model S"
		  subtitle="From $71,090*"
		  paragraph="After Est. Gas Savings"
		  color="black"
		  colorFooter="black"
		  id="modelS"
		  button1="Custom Order"
		  button2="Demo Drive"
		  pfooter1="*Price before savings is $74,990, excluding taxes and fees. Subject to change."
		  pfooter2="Learn about est. gas savings"
		  img="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-LHD-6.22.jpg"
		/>
	  </div>

	  <div class="snap-center">
		<Section
		  color="black"
		  colorFooter="black"
		  id="model"
		  button1="Custom Order"
		  button2="Learn More"
		  img="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg"
		/>
	  </div>
	  
	  <div class="snap-center">
		<Section
		  title="Experience Tesla"
		  paragraph2="Schedule a Demo Drive Today"
		  color="white"
		  id="modelExperience"
		  button3="Demo Drive"
		  video="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto/Homepage-Demo-Drive-Desktop-NA.mp4"
		/>
	  </div>

	  <div class="snap-center">
		<Section
		  title="Solar Panels"
		  paragraph2="Schedule a Virtual Consultation"
		  underline="underline"
		  color="white"
		  id="modelSolar"
		  button1="Order Now"
		  button2="Learn More"
		  img="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop"
		/>
	  </div>

	  <div class="snap-center">
		<Section
		  title="Solar Roof"
		  paragraph2="Produce Clean Energy From Your Roof"
		  color="black"
		  id="modelSolar"
		  button1="Order Now"
		  button2="Learn More"
		  img="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Desktop-Global"
		/>
	  </div>

	  <div class="snap-center">
		<Section
		  title="Powerwallf"
		  color="black"
		  id="modelPowerwall"
		  button1="Order Now"
		  button2="Learn More"
		  img="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-01-Desktop.jpg"
		/>
	  </div>

	  <div class="snap-center">
		<Section
		  title="Accessories"
		  color="black"
		  id="modelPowerwall"
		  button1="Shop Now"
		  showFooter={true}
		  img="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-NA-APAC.jpg"
		/>
	  </div>
	  
  </main>
</Layout>
